In [25]:
import pymysql
import pandas as pd
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists

In [26]:
 ![png](images/image_ERD.png)

zsh:1: unknown file attribute: i

In [18]:
connection = "mysql+pymysql://root:Afshan0712@localhost/books"

In [19]:
engine = create_engine(connection, echo=True)

In [20]:
engine

Engine(mysql+pymysql://root:***@localhost/books)

In [27]:
create_database(connection)

In [28]:
database_exists(connection)

True

In [29]:
df= pd.read_csv('Data/data.csv')
df.head()

   id first_name  last_name                 email
0   1       John        Doe          JD@books.com
1   2      Robin      Smith       Robin@books.com
2   3     Gloria  Rodriguez  grodriquez@books.com

In [30]:
df.to_sql('data', engine, if_exists = 'replace')

2022-11-19 14:14:24,096 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2022-11-19 14:14:24,097 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-11-19 14:14:24,101 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2022-11-19 14:14:24,102 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-11-19 14:14:24,107 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2022-11-19 14:14:24,109 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-11-19 14:14:24,116 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-11-19 14:14:24,118 INFO sqlalchemy.engine.Engine [generated in 0.00222s] {'table_schema': 'books', 'table_name': 'data'}
2022-11-19 14:14:24,183 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-11-19 14:14:24,185 INFO sqlalchemy.engine.Engine
CREATE TABLE data (
	`index` BIGINT,
	id BIGINT,
	first_name TEXT,
	last_name TEXT,
	email TEXT
)


2022-11-19 14:14:24,186 INFO sqlalchemy.engine.Engine [no key 0.00102s] {}
2022-11-19 14:14:24,312 INFO sqlalchemy.engine.Engine CREATE INDEX ix_data_index ON data (`index`)
2022-11-19 14:14:24,312 INFO sqlalchemy.engine.Engine [no key 0.00084s] {}
2022-11-19 14:14:24,396 INFO sqlalchemy.engine.Engine COMMIT
2022-11-19 14:14:24,408 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-11-19 14:14:24,411 INFO sqlalchemy.engine.Engine INSERT INTO data (`index`, id, first_name, last_name, email) VALUES (%(index)s, %(id)s, %(first_name)s, %(last_name)s, %(email)s)
2022-11-19 14:14:24,420 INFO sqlalchemy.engine.Engine [generated in 0.00876s] ({'index': 0, 'id': 1, 'first_name': 'John', 'last_name': 'Doe', 'email': 'JD@books.com'}, {'index': 1, 'id': 2, 'first_name': 'Robin', 'last_name': 'Smith', 'email': 'Robin@books.com'}, {'index': 2, 'id': 3, 'first_name': 'Gloria', 'last_name': 'Rodriguez', 'email': 'grodriquez@books.com'})
2022-11-19 14:14:24,453 INFO sqlalchemy.engine.Engine COMMIT

3

In [31]:
q = """SELECT * FROM Data LIMIT 5;"""
pd.read_sql(q, engine)

2022-11-19 14:17:32,055 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-11-19 14:17:32,057 INFO sqlalchemy.engine.Engine [cached since 187.9s ago] {'table_schema': 'books', 'table_name': 'SELECT * FROM Data LIMIT 5;'}
2022-11-19 14:17:32,064 INFO sqlalchemy.engine.Engine SELECT * FROM Data LIMIT 5;
2022-11-19 14:17:32,067 INFO sqlalchemy.engine.Engine [raw sql] {}

   index  id first_name  last_name                 email
0      0   1       John        Doe          JD@books.com
1      1   2      Robin      Smith       Robin@books.com
2      2   3     Gloria  Rodriguez  grodriquez@books.com

In [32]:
q = """SHOW TABLES;"""
pd.read_sql(q, engine)

2022-11-19 14:19:29,857 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-11-19 14:19:29,860 INFO sqlalchemy.engine.Engine [cached since 305.7s ago] {'table_schema': 'books', 'table_name': 'SHOW TABLES;'}
2022-11-19 14:19:29,868 INFO sqlalchemy.engine.Engine SHOW TABLES;
2022-11-19 14:19:29,870 INFO sqlalchemy.engine.Engine [raw sql] {}

  Tables_in_books
0            data

In [37]:
df_2 = pd.read_csv('data/data-2.csv')
df_3 = pd.read_csv('data/data-3.csv')
df_4 = pd.read_csv('data/data-4.csv')

In [38]:
df_2.to_sql('data-2', engine, if_exists = 'replace')
df_3.to_sql('data-3', engine, if_exists = 'replace')
df_4.to_sql('data-4', engine, if_exists = 'replace')

2022-11-19 15:39:06,426 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-11-19 15:39:06,429 INFO sqlalchemy.engine.Engine [cached since 1748s ago] {'table_schema': 'books', 'table_name': 'data-2'}
2022-11-19 15:39:06,446 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-11-19 15:39:06,450 INFO sqlalchemy.engine.Engine
CREATE TABLE `data-2` (
	`index` BIGINT,
	id BIGINT,
	title TEXT,
	author_id BIGINT
)


2022-11-19 15:39:06,451 INFO sqlalchemy.engine.Engine [no key 0.00122s] {}
2022-11-19 15:39:06,514 INFO sqlalchemy.engine.Engine CREATE INDEX `ix_data-2_index` ON `data-2` (`index`)
2022-11-19 15:39:06,516 INFO sqlalchemy.engine.Engine [no key 0.00190s] {}
2022-11-19 15:39:06,589 INFO sqlalchemy.engine.Engine COMMIT
2022-11-19 15:39:06,593 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-11-19 15:39:06,595 INFO sqlalchemy.engine.Engine INSERT INTO `data-2` (`index`, id, title, author_id) VALUES (%(index)s, %(id)s, %(title)s, %(author_id)s)
2022-11-19 15:39:06,596 INFO sqlalchemy.engine.Engine [generated in 0.00131s] ({'index': 0, 'id': 1, 'title': 'The Shining', 'author_id': 1}, {'index': 1, 'id': 2, 'title': 'It', 'author_id': 1}, {'index': 2, 'id': 3, 'title': 'The Great Gatsby', 'author_id': 2}, {'index': 3, 'id': 4, 'title': 'The Call of the Wild', 'author_id': 3}, {'index': 4, 'id': 5, 'title': 'Pride and Prejudice', 'author_id': 4}, {'index': 5, 'id': 6, 'title': 'Frankenstein', 'author_id': 5})
2022-11-19 15:39:06,602 INFO sqlalchemy.engine.Engine COMMIT
2022-11-19 15:39:06,619 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-11-19 15:39:06,622 INFO sqlalchemy.engine.Engine [cached since 1749s ago] {'table_schema': 'books', 'table_name': 'data-3'}
2022-11-19 15:39:06,642 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-11-19 15:39:06,645 INFO sqlalchemy.engine.Engine
CREATE TABLE `data-3` (
	`index` BIGINT,
	id BIGINT,
	author_name TEXT
)


2022-11-19 15:39:06,647 INFO sqlalchemy.engine.Engine [no key 0.00181s] {}
2022-11-19 15:39:06,693 INFO sqlalchemy.engine.Engine CREATE INDEX `ix_data-3_index` ON `data-3` (`index`)
2022-11-19 15:39:06,695 INFO sqlalchemy.engine.Engine [no key 0.00145s] {}
2022-11-19 15:39:06,742 INFO sqlalchemy.engine.Engine COMMIT
2022-11-19 15:39:06,745 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-11-19 15:39:06,746 INFO sqlalchemy.engine.Engine INSERT INTO `data-3` (`index`, id, author_name) VALUES (%(index)s, %(id)s, %(author_name)s)
2022-11-19 15:39:06,748 INFO sqlalchemy.engine.Engine [generated in 0.00186s] ({'index': 0, 'id': 1, 'author_name': 'Stephen King'}, {'index': 1, 'id': 2, 'author_name': 'F.Scott Fitgerald'}, {'index': 2, 'id': 3, 'author_name': 'Jack London'}, {'index': 3, 'id': 4, 'author_name': 'Jane Austen'}, {'index': 4, 'id': 5, 'author_name': 'Mary Shelley'})
2022-11-19 15:39:06,754 INFO sqlalchemy.engine.Engine COMMIT
2022-11-19 15:39:06,775 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-11-19 15:39:06,776 INFO sqlalchemy.engine.Engine [cached since 1749s ago] {'table_schema': 'books', 'table_name': 'data-4'}
2022-11-19 15:39:06,790 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-11-19 15:39:06,791 INFO sqlalchemy.engine.Engine
CREATE TABLE `data-4` (
	`index` BIGINT,
	user_id BIGINT,
	book_id BIGINT
)


2022-11-19 15:39:06,792 INFO sqlalchemy.engine.Engine [no key 0.00121s] {}
2022-11-19 15:39:06,832 INFO sqlalchemy.engine.Engine CREATE INDEX `ix_data-4_index` ON `data-4` (`index`)
2022-11-19 15:39:06,834 INFO sqlalchemy.engine.Engine [no key 0.00188s] {}
2022-11-19 15:39:06,878 INFO sqlalchemy.engine.Engine COMMIT
2022-11-19 15:39:06,886 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-11-19 15:39:06,888 INFO sqlalchemy.engine.Engine INSERT INTO `data-4` (`index`, user_id, book_id) VALUES (%(index)s, %(user_id)s, %(book_id)s)
2022-11-19 15:39:06,889 INFO sqlalchemy.engine.Engine [generated in 0.00187s] ({'index': 0, 'user_id': 1, 'book_id': 1}, {'index': 1, 'user_id': 1, 'book_id': 2}, {'index': 2, 'user_id': 1, 'book_id': 3}, {'index': 3, 'user_id': 2, 'book_id': 4}, {'index': 4, 'user_id': 2, 'book_id': 5}, {'index': 5, 'user_id': 3, 'book_id': 5}, {'index': 6, 'user_id': 3, 'book_id': 6})
2022-11-19 15:39:06,894 INFO sqlalchemy.engine.Engine COMMIT

7

In [39]:
q = """SHOW TABLES;"""
pd.read_sql(q, engine)

2022-11-19 15:39:31,350 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-11-19 15:39:31,355 INFO sqlalchemy.engine.Engine [cached since 1773s ago] {'table_schema': 'books', 'table_name': 'SHOW TABLES;'}
2022-11-19 15:39:31,362 INFO sqlalchemy.engine.Engine SHOW TABLES;
2022-11-19 15:39:31,364 INFO sqlalchemy.engine.Engine [raw sql] {}

  Tables_in_books
0            data
1          data-2
2          data-3
3          data-4

In [40]:
q = """
SELECT books.title, favorites.user_id
FROM books
JOIN favorites ON books.id = favorites.book_id
WHERE favorites.user_id = 
    (SELECT users.id FROM users WHERE (users.last_name = "Doe" AND users.first_name = "John"));

"""
pd.read_sql(q, engine)

2022-11-19 15:42:02,247 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-11-19 15:42:02,253 INFO sqlalchemy.engine.Engine [cached since 1924s ago] {'table_schema': 'books', 'table_name': '\nSELECT books.title, favorites.user_id\nFROM books\nJOIN favorites ON books.id = favorites.book_id\nWHERE favorites.user_id = \n    (SELECT users.id FROM users WHERE (users.last_name = "Doe" AND users.first_name = "John"));\n\n'}
2022-11-19 15:42:02,263 INFO sqlalchemy.engine.Engine
SELECT books.title, favorites.user_id
FROM books
JOIN favorites ON books.id = favorites.book_id
WHERE favorites.user_id =
    (SELECT users.id FROM users WHERE (users.last_name = "Doe" AND users.first_name = "John"));


2022-11-19 15:42:02,271 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-11-19 15:42:02,278 INFO sqlalchemy.engine.Engine ROLLBACK

ProgrammingError: (pymysql.err.ProgrammingError) (1146, "Table 'books.books' doesn't exist")
[SQL:
SELECT books.title, favorites.user_id
FROM books
JOIN favorites ON books.id = favorites.book_id
WHERE favorites.user_id =
    (SELECT users.id FROM users WHERE (users.last_name = "Doe" AND users.first_name = "John"));

]
(Background on this error at: https://sqlalche.me/e/14/f405)